[Unit]
Description=Gregs Node.js Server
#Requires=After=mysql.service	# Requires the mysql service to be run first

[Service]
ExecStart=sudo /usr/bin/node /home/pi/code/rpio-test/myapp/bin/www
Restart=always
RestartSec=10		# Restart service after 10 seconds if node service crashes
StandardOutput=syslog	# Output to syslog
StandardError=syslog	# Output to syslog
User=pi
Group=root
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
